{% extends 'base.html' %}

{% load static %}

{% block title %}
    Brightify_Inc
{% endblock title %}

{% block content %}

        {% include 'include/navbar.html' %}

            <section class="hero-section">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 ">
                            <div class="text-center mb-5">
                                <h2 class="text-white wel_title">READY TO FIND YOUR FREEDOM?</h2>

                                <p class="text-white">Learn it. Earn. Explore it. <br>
                                    Learn how to master your mindset and make money online
                                    by joining thousands of other people just like you,
                                    learning to live a life of freedom.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 ">
                            <div class="subscribe-form-wrap" style="width: 100%;">
                                <h6>Subscribe. Every weekly.</h6>

                                <form class="custom-form subscribe-form" action="#" method="get" role="form">
                                    <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Enter Email Address" required="">

                                    <div class="col-lg-12 col-12">
                                        <button type="submit" class="form-control" id="submit">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="testimonies">
                            <div class="container">
                                <div class="text-center">
                                    <h2>Testimonies</h2>
                                    <p class="text-white py-3" >
                                        Some of my student Success testimonies after learning and implementing...
                                    </p>
                                </div>
                                <div class="owl-carousel owl-theme">
                                    <div class="owl-carousel-info-wrap item">
                                        <img src="{% static 'images/profile/smiling-business-woman-with-folded-hands-against-white-wall-toothy-smile-crossed-arms.jpg' %}" class="owl-carousel-image img-fluid" alt="">
            
                                        <div class="owl-carousel-info">
                                            <h4 class="mb-2">
                                                Candice
                                                <img src="{% static 'images/verified.png' %}" class="owl-carousel-verified-image img-fluid" alt="">
                                            </h4>
            
                                            <span class="badge">Storytelling</span>
            
                                            <span class="badge">Business</span>
                                        </div>
                                    </div>
            
                                    <div class="owl-carousel-info-wrap item">
                                        <img src="{% static 'images/profile/handsome-asian-man-listening-music-through-headphones.jpg' %}" class="owl-carousel-image img-fluid" alt="">
            
                                        <div class="owl-carousel-info">
                                            <h4 class="mb-2">
                                                William
                                                <img src="{% static 'images/verified.png' %}" class="owl-carousel-verified-image img-fluid" alt="">
                                            </h4>
            
                                            <span class="badge">Creative</span>
            
                                            <span class="badge">Design</span>
                                        </div>
            
                                    </div>
            
                                    <div class="owl-carousel-info-wrap item">
                                        <img src="{% static 'images/profile/cute-smiling-woman-outdoor-portrait.jpg' %}" class="owl-carousel-image img-fluid" alt="">
            
                                        <div class="owl-carousel-info">
                                            <h4 class="mb-2">Taylor</h4>
            
                                            <span class="badge">Modeling</span>
            
                                            <span class="badge">Fashion</span>
                                        </div>
            
                                    </div>
            
                                    <div class="owl-carousel-info-wrap item">
                                        <img src="{% static 'images/profile/man-portrait.jpg' %}" class="owl-carousel-image img-fluid" alt="">
            
                                        <div class="owl-carousel-info">
                                            <h4 class="mb-2">Nick</h4>
            
                                            <span class="badge">Acting</span>
                                        </div>
            
                                    </div>
            
                                    <div class="owl-carousel-info-wrap item">
                                        <img src="{% static 'images/profile/woman-posing-black-dress-medium-shot.jpg' %}" class="owl-carousel-image img-fluid" alt="">
            
                                        <div class="owl-carousel-info">
                                            <h4 class="mb-2">
                                                Elsa
                                                <img src="{% static 'images/verified.png' %}" class="owl-carousel-verified-image img-fluid" alt="">
                                            </h4>
            
                                            <span class="badge">Influencer</span>
                                        </div>
            
                                    </div>
            
                                    <div class="owl-carousel-info-wrap item">
                                        <img src="{% static 'images/profile/smart-attractive-asian-glasses-male-standing-smile-with-freshness-joyful-casual-blue-shirt-portrait-white-background.jpg' %}" class="owl-carousel-image img-fluid" alt="">
            
                                        <div class="owl-carousel-info">
                                            <h4 class="mb-2">Chan</h4>
            
                                            <span class="badge">Education</span>
                                        </div>
            
                                        <div class="social-share">
                                            <ul class="social-icon">
                                                <li class="social-icon-item">
                                                    <a href="#" class="social-icon-link bi-linkedin"></a>
                                                </li>
            
                                                <li class="social-icon-item">
                                                    <a href="#" class="social-icon-link bi-whatsapp"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- ========= ABOUT ========= -->
            <section class="latest-podcast-section section-padding pb-0" id="section_2">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-10 col-12">
                            <div class="section-title-wrap mb-5">
                                <h4 class="section-title">What you should know about me</h4>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-12">
                                    <div class="custom-block-icon-wrap">
                                        <div class="custom-block-image-wrap custom-block-image-detail-page">
                                            <img src="{% static 'images/IMG_2228.jpeg' %}" class="custom-block-image img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-9 col-12">
                                    <div class="custom-block-info">
                                        <div class="custom-block-top d-flex mb-1">
                                            <small class="me-4">
                                                <a href="#">
                                                    <i class="bi-chat"></i>
                                                    Visit Portfolio
                                                </a>
                                            </small>

                                            <small>
                                                <i class="bi-clock-fill custom-icon"></i>
                                                is money
                                            </small>

                                            <small class="ms-auto">IDEAS THAT BRINGS TRUE REVOLUTION... </small>
                                        </div>

                                        <h2 class="mb-2 name-title">Hello, my name is <span>Bright Iweobi O.</span></h2>

                                        <p>
                                            I would describe myself as an industrious, diligent, reliable, and forward-thinking, technically 
                                            astute, and a collaborative team worker who can be relied upon to complete all technical tasks and 
                                            projects on time.
                                            I have a track record of achievement and can be trusted to use critical thinking skills to solve 
                                            complex problems, to complete projects whilst adhering to strict organizational timeframes, and i 
                                            always take ownership of my ongoing professional development.
                                        </p>
                                        <p>
                                            With extensive experiences for over 2 years plus. My expertise are web development, graphic design, 
                                            integration, regression, and many more...
                                            Supportive and Enthusiatic team player dedicated to streamlining process and efficiently resolving projects 
                                            issues
                                        </p>

                                        <p>
                                            
                                        </p>

                                        <div class="profile-block profile-detail-block d-flex flex-wrap align-items-center mt-5">
                                            <div class="d-flex mb-3 mb-lg-0 mb-md-0">
                                                <img src="{% static 'images/IMG_2228.jpeg' %}" class="profile-block-image img-fluid" alt="">

                                                <p>
                                                    Bright Iweobi
                                                    <img src="{% static 'images/verified.png' %}" class="verified-image img-fluid" alt="">
                                                    <strong>Social Media Handles</strong>
                                                </p>
                                            </div>

                                            <ul class="social-icon ms-lg-auto ms-md-auto">
                                                <li class="social-icon-item">
                                                    <a href="#" class="social-icon-link bi-instagram"></a>
                                                </li>

                                                <li class="social-icon-item">
                                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                                </li>

                                                <li class="social-icon-item">
                                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                                </li>

                                                <li class="social-icon-item">
                                                    <a href="#" class="social-icon-link bi-pinterest"></a>
                                                </li>

                                                <li class="social-icon-item">
                                                    <a href="#" class="social-icon-link bi-quora"></a>
                                                </li>

                                                <li class="social-icon-item">
                                                    <a href="#" class="social-icon-link bi-linkedin"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>



            <section class="latest-podcast-section section-padding pb-0" id="section_2">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-12 col-12">
                            <div class="section-title-wrap mb-5">
                                <h4 class="section-title">Lastest Course episodes</h4>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block d-flex">
                                <div class="">
                                    <div class="custom-block-icon-wrap">
                                        <div class="section-overlay"></div>
                                        <a href="detail-page.html" class="custom-block-image-wrap">
                                            <img src="{% static 'images/podcast/11683425_4790593.jpg' %}" class="custom-block-image img-fluid" alt="">

                                            <a href="#" class="custom-block-icon">
                                                <i class="bi-play-fill"></i>
                                            </a>
                                        </a>
                                    </div>

                                    <div class="mt-2">
                                        <a href="#" class="btn custom-btn">
                                            Watch Video
                                        </a>
                                    </div>
                                </div>

                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <i class="bi-clock-fill custom-icon"></i>
                                            50 Minutes
                                        </small>

                                        <small>Episode <span class="badge">15</span></small>
                                    </div>

                                    <h5 class="mb-2">
                                        <a href="detail-page.html">
                                            How to earn 100 - 200k monthly  using your smartphone
                                        </a>
                                    </h5>

                                    <div class="profile-block d-flex">

                                        <p>
                                            Elsa
                                            <img src="{% static 'images/verified.png' %}" class="verified-image img-fluid" alt="">
                                            <strong>Influencer</strong>
                                        </p>
                                    </div>

                                    <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>

                                    <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                        <a href="#" class="bi-headphones me-1">
                                            <span>120k</span>
                                        </a>

                                        <a href="#" class="bi-heart me-1">
                                            <span>42.5k</span>
                                        </a>

                                        <a href="#" class="bi-chat me-1">
                                            <span>11k</span>
                                        </a>

                                        <a href="#" class="bi-download">
                                            <span>50k</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="d-flex flex-column ms-auto">
                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-heart"></i>
                                    </a>

                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-bookmark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="custom-block d-flex">
                                <div class="">
                                    <div class="custom-block-icon-wrap">
                                        <div class="section-overlay"></div>
                                        <a href="detail-page.html" class="custom-block-image-wrap">
                                            <img src="{% static 'images/podcast/12577967_02.jpg' %}" class="custom-block-image img-fluid" alt="">

                                            <a href="#" class="custom-block-icon">
                                                <i class="bi-play-fill"></i>
                                            </a>
                                        </a>
                                    </div>

                                    <div class="mt-2">
                                        <a href="#" class="btn custom-btn">
                                            Watch video
                                        </a>
                                    </div>
                                </div>

                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <i class="bi-clock-fill custom-icon"></i>
                                            15 Minutes
                                        </small>

                                        <small>Episode <span class="badge">45</span></small>
                                    </div>

                                    <h5 class="mb-2">
                                        <a href="detail-page.html">
                                            How i made my first $1000 in 2 weeks online
                                        </a>
                                    </h5>

                                    <div class="profile-block d-flex">

                                        <p>William
                                            <strong>Vlogger</strong></p>
                                    </div>

                                    <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>

                                    <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                        <a href="#" class="bi-headphones me-1">
                                            <span>140k</span>
                                        </a>

                                        <a href="#" class="bi-heart me-1">
                                            <span>22.4k</span>
                                        </a>

                                        <a href="#" class="bi-chat me-1">
                                            <span>16k</span>
                                        </a>

                                        <a href="#" class="bi-download">
                                            <span>62k</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="d-flex flex-column ms-auto">
                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-heart"></i>
                                    </a>

                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-bookmark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-12">
                            <div class="learn-more mt-5" style="float: right;">
                                <a class="text-dark" href="#"><b>Learn More</b></a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="topics-section section-padding pb-0" id="section_3">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <div class="section-title-wrap mb-5">
                                <h4 class="section-title">Trending</h4>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block custom-block-overlay">
                                <a href="detail-page.html" class="custom-block-image-wrap">
                                    <img src="{% static 'images/topics/physician-consulting-his-patient-clinic.jpg' %}" class="custom-block-image img-fluid" alt="">
                                </a>

                                <div class="custom-block-info custom-block-overlay-info">
                                    <h5 class="mb-1">
                                        <a href="listing-page.html">
                                            Productivity
                                        </a>
                                    </h5>

                                    <p class="badge mb-0">50 Episodes</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block custom-block-overlay">
                                <a href="detail-page.html" class="custom-block-image-wrap">
                                    <img src="{% static 'images/topics/repairman-doing-air-conditioner-service.jpg' %}" class="custom-block-image img-fluid" alt="">
                                </a>

                                <div class="custom-block-info custom-block-overlay-info">
                                    <h5 class="mb-1">
                                        <a href="listing-page.html">
                                            Technician
                                        </a>
                                    </h5>

                                    <p class="badge mb-0">12 Episodes</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block custom-block-overlay">
                                <a href="detail-page.html" class="custom-block-image-wrap">
                                    <img src="{% static 'images/topics/woman-practicing-yoga-mat-home.jpg' %}" class="custom-block-image img-fluid" alt="">
                                </a>

                                <div class="custom-block-info custom-block-overlay-info">
                                    <h5 class="mb-1">
                                        <a href="listing-page.html">
                                            Mindfullness
                                        </a>
                                    </h5>

                                    <p class="badge mb-0">35 Episodes</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block custom-block-overlay">
                                <a href="detail-page.html" class="custom-block-image-wrap">
                                    <img src="{% static 'images/topics/delicious-meal-with-sambal-arrangement.jpg' %}" class="custom-block-image img-fluid" alt="">
                                </a>

                                <div class="custom-block-info custom-block-overlay-info">
                                    <h5 class="mb-1">
                                        <a href="listing-page.html">
                                            Cooking
                                        </a>
                                    </h5>

                                    <p class="badge mb-0">12 Episodes</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="container" >
                <div class="row join-us mt-3">
                    <div class="text-center">
                        <h3 class="mb-3">JOIN THOUSANDS OF PEOPLE JUST LIKE YOU</h3>
                        <b class="text-dark">Learn how to build your own business online....</b> <br>
                        <p class="text py-3" >
                            Get FREE EXCLUSIVE tips on mastering your mindset and making money online, so that you can build a life you love.
                        </p>
                    </div>
                    <div class="col-12 mx-auto" style="display: flex; align-items: center; justify-content: center;">
                        <div class="subscribe-form-wrap" style="width: 100%;">
                            
                            <h6>Subscribe. Every weekly.</h6>

                            <form class="custom-form subscribe-form" action="#" method="get" role="form">

                                <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Enter Email Address" required="">

                                <div class="col-lg-12 col-12">
                                    <button type="submit" class="form-control" id="submit">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>


            <section class="trending-podcast-section section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <div class="section-title-wrap mb-5">
                                <h4 class="section-title">Blog Series</h4>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                            <div class="custom-block custom-block-full">
                                <div class="custom-block-image-wrap">
                                    <a href="detail-page.html">
                                        <img src="{% static 'images/podcast/27376480_7326766.jpg' %}" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>

                                <div class="custom-block-info">
                                    <h5 class="mb-2">
                                        <a href="detail-page.html">
                                            Kdp for smartphone
                                        </a>
                                    </h5>

                                    <div class="profile-block d-flex">
                                        <img src="{% static 'images/profile/woman-posing-black-dress-medium-shot.jpg' %}" class="profile-block-image img-fluid" alt="">

                                        <p>Elsa
                                            <strong>Influencer</strong></p>
                                    </div>

                                    <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>

                                    <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                        <a href="#" class="bi-tags me-1">
                                            <span>Finance</span>
                                        </a>

                                        <a href="#" class="bi-heart me-1">
                                            <span>2.5k</span>
                                        </a>

                                        <a href="#" class="bi-chat me-1">
                                            <span>924k</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="social-share d-flex flex-column ms-auto">
                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-heart"></i>
                                    </a>

                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-bookmark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                            <div class="custom-block custom-block-full">
                                <div class="custom-block-image-wrap">
                                    <a href="detail-page.html">
                                        <img src="{% static 'images/podcast/27670664_7369753.jpg' %}" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>

                                <div class="custom-block-info">
                                    <h5 class="mb-2">
                                        <a href="detail-page.html">
                                            Facebook Ads 
                                        </a>
                                    </h5>

                                    <div class="profile-block d-flex">
                                        <img src="{% static 'images/profile/cute-smiling-woman-outdoor-portrait.jpg' %}" class="profile-block-image img-fluid" alt="">

                                        <p>
                                            Taylor
                                            <img src="{% static 'images/verified.png' %}" class="verified-image img-fluid" alt="">
                                            <strong>Creator</strong>
                                        </p>
                                    </div>

                                    <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>

                                    <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                        <a href="#" class="bi-tags me-1">
                                            <span>Finance</span>
                                        </a>

                                        <a href="#" class="bi-heart me-1">
                                            <span>2.5k</span>
                                        </a>

                                        <a href="#" class="bi-chat me-1">
                                            <span>924k</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="social-share d-flex flex-column ms-auto">
                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-heart"></i>
                                    </a>

                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-bookmark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12">
                            <div class="custom-block custom-block-full">
                                <div class="custom-block-image-wrap">
                                    <a href="detail-page.html">
                                        <img src="{% static 'images/podcast/12577967_02.jpg' %}" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>

                                <div class="custom-block-info">
                                    <h5 class="mb-2">
                                        <a href="detail-page.html">
                                            Copywritting/Ghostwritting
                                        </a>
                                    </h5>

                                    <div class="profile-block d-flex">
                                        <img src="{% static 'images/profile/handsome-asian-man-listening-music-through-headphones.jpg' %}" class="profile-block-image img-fluid" alt="">

                                        <p>
                                            William
                                            <img src="{% static 'images/verified.png' %}" class="verified-image img-fluid" alt="">
                                            <strong>Vlogger</strong></p>
                                    </div>

                                    <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>

                                    <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                        <a href="#" class="bi-tags me-1">
                                            <span>Finance</span>
                                        </a>

                                        <a href="#" class="bi-heart me-1">
                                            <span>2.5k</span>
                                        </a>

                                        <a href="#" class="bi-chat me-1">
                                            <span>924k</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="social-share d-flex flex-column ms-auto">
                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-heart"></i>
                                    </a>

                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-bookmark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="latest-podcast-section section-padding py-5" id="section_2">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-12 col-12">
                            <div class="section-title-wrap mb-5">
                                <h4 class="section-title">FAQS</h4>
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion mb-5" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Accordion Item #1
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Accordion Item #2
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Accordion Item #3
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </section>

        


{% endblock %}